html {
  background-image: url(https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  color: white;
  font-size: large;
}

main {
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.377);
  width: 768px;
  margin: auto;
}

.light_container {
  width: 50px;
  height: 50px;
}

.light_bulb {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px;
}
.blink {
  opacity: 0.5;
}

section {
  display: flex;
  margin: 3px;
}

section div {
  margin: 3px;
}

div {
  border: 1px solid teal;
}

@media (min-width: 576px) {
  div {
    border: 1px solid teal;
  }
  .light_container {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  div {
    border: 2px solid teal;
  }
  .light_container {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 992px) {
  div {
    border: 3px solid red;
  }
  .light_container {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 1080px) {
  div {
    border: 4px solid pink;
  }
  .light_container {
    width: 200px;
    height: 200px;
  }
}
